<!DOCTYPE html>
<html>
<head>
    <meta property="fb:app_id"             content="1612081092370131" />
    <meta property="og:url"                content="{{ curr_url }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ title }}" />
    <meta property="og:description"        content="{{ description }}" />
    <meta property="og:image"              content="{{ img_url }}" />
    <script type="text/javascript">
        window.onload = function(){
            {#window.location.href ='{{ back_url }}';#}
        };

    </script>
</head>

<body>
    <img src="{{ img_url }}">
    <br>
    <a href="{{ back_url }}">Redirecting to gallery...</a>

</body>
</html>
